/*====================================
      Global
====================================*/

.error {
  border-color: rgb(148, 26, 37);
}

/*====================================
      Height
====================================*/

.h-80 {
  height: 80%;
}

/*====================================
      Footer
====================================*/

.footer {
  background-color: var(--primary-color-text);
  color: var(--color-white);
}
